	
	<div class="row">
		<div id="about">
			<p>about</p>

		</div>

	</div>

	<div class="row">
	  <div class="twelve columns">
			<form action="/" method="post">

				<input id="input-field "type="text" name="text" placeholder="Enter text here..."></input>
				<input type="submit" value="Submit"></input>	
			</form>
			
	  </div>
	  
	</div>


	<div class="row">
	  <div id="flip-text">
			<p>{{flippedStr}}</p>
	  </div>
	  
	</div>



	<div class="row">
		<div id="flip-twitter" >
			{{#each tweets}}
				<div class="one column">
					<img class="tweet-profile-img" src="{{user.profile_image_url_https}}">
				</div>
				<div class="eleven columns">
					<p class="tweet-text">{{text}}</p>
					<p class="tweet-text">{{flipped_text}}</p>
					<p class="tweet-date">{{created_at}}</p>
				</div>

			{{/each}}
		</div>

		
	</div>

	





	
	